<form asp-controller="Home" asp-action="TriggerCommand" method="post">
    <input type="hidden" name="viewId" value="@Model.ViewId" />
    <button type="submit" class="govuk-button" data-module="govuk-button">
        Trigger Command
    </button>
</form>