<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" id="list-count-container">
        <nav class="dfe-compare-nav">
            <ol class="dfe-compare-nav__links">
                <li class="dfe-compare-nav__link dfe-compare-nav__link--search">
                    <a href="/find-a-school-in-england">
                        <span class="visually-hidden">Start a new</span>Search
                    </a>
                </li>
            </ol>
        </nav>
    </div>
</div>
